certifi==2020.12.5
chardet==4.0.0
cupy-cuda110==8.5.0
dataclasses==0.8
decorator==4.4.2
fastrlock==0.6
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
moviepy==1.0.3
numpy==1.19.5
opencv-python==4.5.1.48
Pillow==8.2.0
proglog==0.1.9
requests==2.25.1
torch==1.8.1+cu102
torchaudio==0.8.1
torchvision==0.9.1+cu102
tqdm==4.59.0
typing-extensions==3.7.4.3
urllib3==1.26.4
